.ui-steps .ui-steps-item {
    width: 33.3%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ui-widget-overlay {
    background: lightslategrey !important;
}

/****************/

.ui-widget-header .ui-state-default{
	border: 1px solid #424548;
	background: #424548;
}

.ui-widget-header .ui-tabs-selected{
	border: 1px solid #68727B;
	background: #68727B;
}


.ui-accordion .ui-state-active{
	background: #6580A1;
}